.sort-header {
    display: flex;
    justify-content: space-between;

    i {
        padding: 0 4px;
        cursor: pointer;
    }
}

.group-btn {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}